.air-content{
    background-color: #344a72;
    background-size: cover;
    padding: 34px;
}

.air-quality-header{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    margin-top: 5%;
    color: black;
}