.home-container{

    background-image: url("https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_640.jpg");
    background-size: cover;
    width: 1950px;
    height: 500px;
}

.box {
    height: 210px;
    width: 470px;
}

.box .rectangle {
    background-color: #000000;
    height: 230px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 30%;
    width: 570px;

}

p{
    color: white;
}

p2{
    color: white;
    margin-right: 20%;
    margin-bottom: 30%;
}

.search_input-container{
    
}


.search{
    display: flex;
    justify-content: center;
    gap: 1px;
    
}


.search_button{
    width: 75px;
    padding: 3px;

} 

